/** Edit Color here **/
*{
	font-family: Verdana,Helvetica,Arial;
}
#text{ color:#ffffff;
}
/*main.topnav.tpl*/
.resourceWrapperOuter{
	margin:2px;
	width: calc(50% - 4px);
	height: 40px;
	clip-path:
      polygon(0 0, calc(100% - 10px) 0, 100% 10px,
              100% 100%, 10px 100%,0 calc(100% - 10px)
             );
						 background: #8c8c8c;
						 border: 2px solid #8c8c8c;
						 cursor: pointer;
}

.resourceWrapper{
	background: rgb(51,77,108);
  background: linear-gradient(0deg, rgba(2,1,42,1) 27%, rgba(66,120,120,1) 95%);
  clip-path:
      polygon(0 0, calc(100% - 12px) 0, 100% 12px,
              100% 100%, 12px 100%,0 calc(100% - 12px)
             );
}

.res_current{
	color: #ddd;
}

.layout,.footer{
	min-width: 1200px;
}
contentLeft{
	min-width: 250px;
}

.contentRight{
	min-width: 350px;
}

.contentMiddle{
	min-width: 600px;
}
/*special scrollbar*/

.scroll{
	overflow:scroll;
}

.scroll::-webkit-scrollbar-track{
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	background-color:transparent;
}
.scroll::-webkit-scrollbar{
	width:4px;
  height: 4px;
}
.scroll::-webkit-scrollbar-thumb{
	background-color:#000000;
	border:2px solid #555555
}


/*--*/

/*--*/

.content-wrapper{
	width: 100%;
}

.ui-widget-header{
	background-color:#D20000;
}
.res_name{
	color:#D20000;
}

body {
	background:url("img/space.avif") no-repeat fixed center center #0d0d0d;
	background-size: cover;
	overflow-y: scroll;
	margin: 0!important;
	color: #fff;
}

body.mceContentBody,input,button,select,option,textarea, .ui-widget-content{
	background: #0D1014;
}

input[type="radio"] {
	background:transparent;
	border:0 none;
}

#menu li{
	margin: 1px 0;
	height: 28px;
}

.ui-widget-header {
	background-image:url("img/bkd_title.png");
	color:#FFF;
	font-weight:700;
	text-align:left
}

/*page.buildings.default.tpl*/

.button-upgrade-small{
	background: url('images/small_upgrade_button.webp') 0 0;
	width: 34px;
	height: 20px;
	outline: none;
	border: 1px solid #111;
}
.button-upgrade-small:hover{
	background-position: 0 -18px;
}

.buildItemSmall{
	border: 3px solid #276094;
	width: 86px;
	height: 86px;
	margin: 2px;
	background: #000;
	transition: 0.2s ease;
}
.buildItemSmall:hover{
	border-color: #aa8719;
}
.black-screen{
	width: 100%;
	height: 100%;
	display: flex;
	background: rgb(0,0,0,0.8)!important;
	z-index:2;
}
.queueItemFirst{
	width: 86px;
	height: 86px;
	border: 3px solid #276094;
	margin: 2px;
	background: #000;
	margin: 5px;
}
.levelInfo{
	height: 20px;
	width: 20px;
}
.itemShow{
	height: 200px;
	margin-bottom: 5px;
}
.buildItemBig{
	display: flex;
	width: 100%;
	height: 200px;
	max-height: 200px;
	background-color: #ddd;
}
.buildItemBig .itemTop{
	height: 110px;
}
.buildItemBig .itemInfo{
	height: 90px;
}

/**/


/*general classes for color and background color*/

.border-color-active{
	border-color: #aa8719;
}
.border-color-passive{
	border-color: #276094;
}
.with-fancybox{
	overflow-y: scroll!important;
}
.fancybox__slide{
	margin: 0!important;
}
.fancybox__content{
	padding: 0!important;
}
.popover-header{
	padding: 0!important;
}
.popover {
  background-color: rgba(191,38,21,0.5)!important;
}

.button-upgrade{
	width: 80px;
	height: 28px;
	font-weight: 700;
	font-size: 11px;
	color: #fff;
	background-color: #5f9946;
	transition: 0.3s ease;
	border: 1px solid #747c70;
	border-radius: 5px;
	overflow: hidden;
}
.button-upgrade-disabled{
	width: 80px;
	height: 28px;
	font-weight: 700;
	font-size: 11px;
	color: #fff;
	background-color: gray;
	transition: 0.3s ease;
	border: 1px solid #747c70;
	border-radius: 5px;
	overflow: hidden;
}
.button-downgrade{
	width: 80px;
	height: 28px;
	font-weight: 700;
	font-size: 11px;
	background-color: #c22216;
	color: #000;
	transition: 0.3s ease;
	border: 1px solid #747c70;
	border-radius: 5px;
	overflow: hidden;
}
.button-upgrade:hover{
	background-color: #6ac144;
}
.color-white{
	color: #fff!important;
}
.color-gray,.text-gray{
	color: #ddd!important;
}
.color-green{
	color: #5faa3d!important;
}
.color-lime{
	color: lime!important;
}
.color-red,.text-red{
	color:#e54438!important;
}
.color-blue,.text-blue{
	color:#3d85c6!important;
}
.text-yellow,.color-yellow{
	color:#ffd600!important;
}
.text-gow-gray{
	color: #a79d9d!important;
}
.bg-black{
	background: rgb(1,1,9);
	background: linear-gradient(0deg, rgba(1,1,9,1) 0%, rgba(18,18,22,1) 35%);
}

.bg-blue{
	background-color: #0D263D;
}
.bg-light-black{
	background-color: #222426;
}

.hover-pointer:hover{
	cursor: pointer;
	
}

.bg-hover-black:hover{
	background-color: rgba(0,0,0,0.5);
	transition: 0.5s ease;
}

.hover-underline{
	text-decoration: none;
}
.hover-underline:hover{
	text-decoration: underline;
}
.hover-border-yellow{
	border: 1px transparent;
}
.hover-border-yellow:hover{
	border: 1px solid yellow;
}

.border-orange{
	border: 1px solid #d57b1c;
}
.border-yellow{
	border: 1px solid yellow;
}
.border-gray{
    border: 1px solid gray;
}

.fs-12{
	font-size: 12px!important;
}
.fs-11{
	font-size: 11px!important;
}
.fs-10{
	font-size: 10px!important;
}
.fs-9{
	font-size: 9px!important;
}
.fs-14{
	font-size: 14px!important;
}

.button-blue{
	background: #316797;
	color: #ddd;
	outline: none;
	border: 1px solid #111;
	font-size: 11px;
	padding: 3px 5px;
}
.button-blue:hover{
	background-color: #407eb6;
}

/*--*/

#tooltipNotify{
	display: none;
	padding: 10px;
	border: 1px solid #B63535;
	position: fixed;
	margin: auto;
	background: #382F2F;
	color: #f1f1f1;
	top:20px;
}

/*general fonts for font sizes*/
table{
	background-color:#151212;
	color: #fff;
}

.table-gow{
	background-color:#151212;
	margin: 0 auto;
	/*border: 3px solid #c4731f;*/
	border: 3px solid gray;
}
.table-tooltip{
	background: transparent;
}
.table-gow td{
	border: 1px solid rgba(119,117,117,0.2);
}
.table-gow td,.table-gow th,.table-gow a{
	color: #ffd600;
}

.table-gow button,.table-gow select,.table-gow input{
	color: #ddd;
}

.table-gow th{
	border: 1px solid #444444;
}

.font-size-12{
	font-size: 12px;
}
.font-size-11{
	font-size: 11px;
}
.font-size-10{
	font-size: 10px;
}


.fleetWrapper{
	margin: 5px 0;
	padding: 5px;
	background: #000;
	border: 1px solid rgba(188,188,188,0.5);
}
.fleetRow{
	background-color:#151212;
	margin: 1px 0;
	color: #ddd;
	padding: 3px;
	border: 1px solid rgba(197,164,61,0.5);
}
/*-*/

/*Global Messgae */

.admin {
	color:red;
}
.mod {
	color:yellow;
}
.ops {
	color:skyblue;
}

.messages_body .admin {
	font-weight:700;
	color:red;
}
.messages_body .mod {
	font-weight:700;
	color:yellow;
}
.messages_body .ops {
	font-weight:700;
	color:skyblue;
}

.res_max {
	color:#0F0
}

.res_name {
	color:red;
	font-weight:700
}

.galaxy-alliance-member {
	color:#99FF66!important;
}

.galaxy-alliance-friend {
	color:#99FFFF!important;
}

.galaxy-alliance-enemy {
	color:#FF0000!important;
}

.galaxy-short-noob,
.galaxy-username-noob{
	color:#a0ffa0!important;
}

.galaxy-short-strong,
.galaxy-username-strong {
	color:#ffa0a0!important;
}

.galaxy-short-vacation,
.galaxy-username-vacation {
	color:#659ec7!important;
}

.galaxy-short-inactive,
.galaxy-username-inactive {
	color:#ccc!important;
}

.galaxy-short-longinactive,
.galaxy-username-longinactive {
	color:#999!important;
}

.galaxy-short-banned {
	text-decoration:line-through
}

.ownattack {
	color:#6c3
}

.owncolony {
	color:#c1c1c1
}

.owndeploy {
	color:#666
}

.owndestroy {
	color:#ff9
}

.ownfederation {
	color:#c66
}

.ownharvest {
	color:#ceff68
}

.ownhold {
	color:#80a0c0
}

.destroy {
	color:#d4a017
}

.hold {
	color:#39c
}

.warning {
	color:#FF8040
}

.notice {
	color:#FF0
}

.return {
	color:#444
}

.allymember,.colony,.deploy,.harvest,.transport,.success {
	color:lime
}

.owntransport {
	color:#a0ffa0
}

.ownespionage,.ownmissile {
	color:#fc6
}

.espionage,.missile {
	color:#f60
}

.build_submit {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: lime;
}
.onlist{
    color: #DDD;
}

/** HEADER **/

#header {
	background: #0D1014;
	background: rgba(13, 16, 20, 0.95);
	border: 1px solid black;
}

#resourcesdiv{
	text-align:center;
}

/** MENU **/

.menu-head a{
	height:78px;
	background:none !important;
	padding:0 !important;
	text-indent: -1000em;
}

.menu-head {
	background: url('./img/menu-top.png') no-repeat scroll 0 -22px transparent;
}

.menucat1-head {
	background-image: url('./img/menu_wirt.png');
}

.menucat2-head {
	background-image: url('./img/menu_com.png');
}

.menucat3-head {
	background-image: url('./img/menu_acc.png');
}

.menu-footer{
	background-image: url('./img/menu-foot.png');
}

/* PLANETMENU */

#planet_menu_link{
	font-weight:700;
}

#planet_menu_header{
	text-align:right;
}

#planet_menu_content li {
	text-align:center;
}


/* CONTENT */


.top {
	vertical-align:top
}

.res_current_max,.attack,.federation,.error {
	color:red
}

#fleetstatustable td{
	background: transparent;
	background-image: none;
	border: 0 none
}

/*button test */
.menu-button a{
	width: 100%;
	height: 100%;
	color: #ddd;
	text-align: center;
}
.menu-button a:hover{
	color: #999999;
}

.menu-button {
  cursor: pointer;
  color: #12405f;
	background: rgb(68,90,117);
	background: linear-gradient(0deg, rgba(68,90,117,1) 27%, rgba(42,47,54,1) 95%);

  clip-path:
      polygon(0 0, calc(100% - 10px) 0, 100% 10px,
              100% 100%, 10px 100%,0 calc(100% - 10px)
             );
	transition: 0.3 ease;
}

.menu-button:hover{
	background:#2a2f36;
}

.tooltip-inner{
	background: rgb(36,33,34);
	background: linear-gradient(0deg, rgba(36,33,34,1) 44%, rgba(78,85,93,1) 100%);
	border: 1px solid #000;
	color: #ddd;
	font-size: 12px!important;
	max-width: 400px!important;
}
.tooltip.show {
    opacity: 1;
}
.bs-tooltip-bottom .tooltip-arrow::before{
  border-bottom-color: #736767!important; /* black */
}

/**/

.raportWin {
	color:lime;
}

.raportLose {
	color:red;
}
#progressbar{
	width: 90%;
	height: 18px;
}
.ui-progressbar-value {
	background: repeating-linear-gradient(
	  45deg,
	  #606dbc,
	  #606dbc 10px,
	  #465298 10px,
	  #465298 20px
	);
	background-position:top left;
	border-color:#000;
	border-radius: 5px;
}

.spyRaportContainerHead {
	background: #212428;
	color: white;
	font-weight: 700;
	text-align: left;
	margin: 3px 0;
	padding: 3px;
}

.spyRaportContainerRow {
	border-top:1px solid #DDD;
}
.spyRaportContainerHead + .spyRaportContainerRow {
	border-top:0 none;
}

.ui-autocomplete, .ui-state-hover, .ui-state-default, .ui-tabs-nav, .ui-tabs, .ui-progressbar, .ui-progressbar-value {
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	border-radius:0;
}

.ui-state-default{
	border:1px solid #000 !important;
	background: #0D1014 !important;
}
.ui-state-default > a{
	cursor:pointer !important;
}

.ui-state-hover, .ui-progressbar{
	border:1px solid #000 !important;
	background: #212428 !important;
}

.ui-tabs-nav {
	padding: 0;
}

.ui-tabs {
	border:1px solid #000;
	background:transaprent;
}


.techWrapper{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #0d1014f2;
}
.techWrapper .techi{
	width: 100%;
	height: auto;
	padding: 10px 0;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
/* main.navigation.tpl */

#menu .menuActive{
	color: #ffd600;
	background: #12405f;
}



@media only screen and (min-width: 576px) {

	.contentLeft{
	width: 144px;
	}
	.contentRight{
	 width: 144px;
	}
	.contentMiddle{
		width: 288px;
	}
	.topnavWrapper{
		width: 576px;
	}
	.contentLeft,.contentRight{
		margin-top:50px;
	}
	.contentMiddle{
		margin-top:15px;
	}

}


@media only screen and (min-width: 768px) {
	.contentLeft{
	width: 192px;
	}
	.contentRight{
	 width: 192px;
	}
	.contentMiddle{
		width: 384px;
	}

	.topnavWrapper{
		width: 768px;
	}


}


@media only screen and (min-width: 992px) {
	.contentLeft{
	width: 248px;
	}
	.contentRight{
	 width: 248px;
	}
	.contentMiddle{
		width: 496px;
	}

	.topnavWrapper{
		width: 992px;
	}

}



@media only screen and (min-width: 1200px) {
	.contentLeft{
	width: 300px;
	}
	.contentRight{
	 width: 300px;
	}
	.contentMiddle{
		width: 600px;
	}

	.topnavWrapper{
		width: 1200px;
	}

}

@media only screen and (min-width: 1400px) {
.contentLeft{
width: 350px;
}
.contentRight{
 width: 350px;
}
.contentMiddle{
	width: 684px;
}

.topnavWrapper{
	width: 1400px;
}

}
/* TUTORIAL */
#aufgabe_liste{
     width: 90%;
     list-style-type: none;
 }
 
.aufzaehlungszeichen  {
    background:url(images/arrow_right.png) no-repeat left 0.2em;
    padding:0.1em 0 0 1.8em;   
    margin:1em 0 0.4em 5em;
}

/***************
System Container
****************/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
	
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }	
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }	
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }	
	
}

.container-page {
  border: 1px solid #524d4d;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(6, 5, 5, 0.8);
  padding: 5px;
  overflow: visible;
}
/* Test matz */
.infos {
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  overflow: auto;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  background: rgba( 207, 255, 244, 0.15 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.techm {
  margin: 5px 0 0 5px;
  min-height: 240px;
  min-width: 172px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
 
  width: 32.5%;
  padding: 3px;
  box-shadow: 0 0px 10px 2px rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0.5px );
  transform: translate3d(0, 0, 0);
  -webkit-backdrop-filter: blur( 0.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.table-dark {
           /* display: flex;*/
           /* flex-direction: column;*/
           /* justify-content: center;*/
           /* align-items: center;*/
           /*gap: 1rem;
            /*max-width: 225px;
            min-width: 225px;*/
           /* border: 2px solid rgb(74, 74, 78);*/
           /* border-radius: 1px;
            padding: 5rem;
            box-shadow: 0 5px 10px 2px rgba( 31, 38, 135, 0.37 );*/
           /* backdrop-filter: blur( 1.5px );*/
           --bs-table-bg: rgba(18,18,22,1);
        }
        
        .bild-rahmen {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}

.bild-rahmen img {
  border: none;
}

.bild-name {
  font-size: 12px;
  color: #666;
  text-align: center;
  padding: 5px;
}

/***************
Ritsch
****************/
/* main.planetmenu.tpl */
.pl_highlight {
	border-radius: 50px 50px 50px 50px;
	box-shadow: 0 0 5px #ffd700,
				0 0 10px #ffd700,
				0 0 13px #ffd700;
	transition: 0.5s ease;
}
.pl_hover:hover {
	border-radius: 50px 50px 50px 50px;
	box-shadow: 0 0 5px #9c0,
				0 0 10px #9c0,
				0 0 13px #9c0;
	transition: 0.5s ease;
} 

/* Quest matz */
/** Ajout du CSS des Quests **/
.badge {
	color: white;
	padding: 4px 8px;
	text-align: center;
	border-radius: 5px;
}

.badge.warning {
	background-color: #BC622A;
}

.badge.danger {
	background-color: #AB3232;
}

.badge.success {
	background-color: #298C2E;
}

.badge.info {
	background-color: #29578C;
}

.quests {
	display: flex;
}

.quests .categories ul {
	list-style: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.quests .categories ul li {
	padding: 20px;
	border-left: 2px solid #FFFFFF;
}

.quests .categories ul li.actif {
	background: #444444;
	border-radius: 0 10px 10px 0;
	border-left: 2px solid #178531;
}

.quests .quest_content {
	margin-left: 20px;
	width: 100%;
}

.quests .quest_content .label_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 10px;
}

.quests .quest_content .quest_list .reward {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.quests .quest_content .quest_list {
	border-bottom: 1px solid #7E3A8A;
	padding-bottom: 10px;
	margin-top: 10px;
}

/* Ajout du CSS PARTIE 5 */
.quests .quest_content .quest_list .reward div {
	width: 25%;
	text-align: center;
}
/* Fin */

.quests .quest_content .quest_list .reward div ul {
	list-style: none;
	padding: 0;
}

.quests .quest_content .quest_list .reward div button {
	background: transparent;
	border: 1px solid #31AB35;
	padding: 10px;
	border-radius: 5px;
}


.quests .quest_content .quest_list .reward div button { background: transparent; border: 1px solid #31AB35; padding: 10px; border-radius: 5px; color: #FFFFFF; }

/** ADDON PART 5 **/
.progresse_bar_border {
	width: 25%;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 10px;
	overflow: hidden;
}

.progresse_bar_border .progresseBar {
	height: 20px;
	background-color: #04AA6D;
	text-align: center; 
	line-height: 20px;
	color: white;
}

.progresse_bar_border .progresseBar span {
	padding-left: 10px;
}


.sidebar-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    margin: 8px 0;
    border-radius: 8px;
    background: rgba(15, 23, 42, 0.85);
    border: 1px solid rgba(0, 242, 255, 0.3);
    color: #e0faff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-shadow: 0 0 5px #00f2ff;
    transition: all 0.3s ease;
}

.sidebar-btn:hover {
    background: rgba(0, 242, 255, 0.2);
    border-color: #00f2ff;
    color: #00f2ff;
    transform: translateX(6px);
    box-shadow: 0 0 10px #00f2ff;
}

.menuActive .sidebar-btn {
    background: rgba(0, 242, 255, 0.3);
    border-color: #00f2ff;
    color: #00f2ff;
}

/* Hover Effekt */
.sidebar-btn:hover {
    background: linear-gradient(135deg, #0ea5e9, #0284c7);
    color: #fff;
    transform: translateX(5px);
}

/* Aktiver Button */
.menuActive .sidebar-btn {
    background: linear-gradient(135deg, #0ea5e9, #0284c7);
    color: #fff;
    font-weight: 600;
}

/* Icon */
.sidebar-btn i {
    min-width: 20px;
    text-align: center;
    font-size: 16px;
}
