/* TOOLTIP */
.tip {
    border: 1px solid #000;
    border-radius: 10px;
}

.tooltip,
.tooltip_sticky {
    cursor: pointer;
}

.tip {
    display: none;
    padding: 7px;
    position: absolute;
    z-index: 1000;
    max-width: 500px;
}

.tip.notify {
    position: fixed;
    top: 200px;
    padding: 20px;
}

.tip.notify.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.tip.notify.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.tip.notify.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.tip.notify.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

/* ONGLETS, TABS */
#panneau {
    margin: 30px auto;
}

#panneau #onglets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

#panneau #onglets li {
    text-align: center;
   
     background: rgba(255, 255, 255, 0.6);
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 20px;
    min-width: 150px;
    border-radius: 50px 0 50px 0;
    cursor: pointer;
}

#panneau #onglets li.actif_tab {
    background: #878284d6;
    color: white;
    border-radius: 0 50px 0 50px;
}

#panneau #contenus {}

#panneau #contenus div.onglet_content {
    background: #393939;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

#panneau #contenus div.onglet_content.actif {
    display: block;
}

#panneau #contenus div h1 {
    margin-bottom: 10px;
    font-weight: bold;
}

/* CLEAR */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* FORMULAIRE */
form {
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
     background: #86b7fe;
     color: #212529;
}

input,
textarea,
select {
    border-radius: 5px;
    width: 50%;
    height: 30;
    margin: 10px;
    color: #999999;
    background: #272930;
    border: 1px solid #444444;
    padding-left: 10px;
}

input:hover,
textarea:hover,
input:active,
textarea:active {
    border: 1px solid #444444 !important;
}

textarea {
    vertical-align: top;
    height: 5em;
}

/* BADGES */
[data-after-text],
[data-before-text] {
    --badge-offset-x: calc(0px - var(--badge-size) / 3);
    --badge-offset-y: calc(0px - var(--badge-size) / 3);
    --badge-size: 1.5rem;
    --circle-size: 2rem;
    --dot-offset: 0.5rem;
    --dot-size: 0.5rem;

    --b: initial;
    --bgc: hsl(195, 100%, 30%);
    --bdrs: 0;
    --c: hsl(195, 100%, 99%);
    --d: inline-flex;
    --fz: 0.625rem;
    --fw: 700;
    --h: auto;
    --l: initial;
    --m: 0.4rem;
    --p: 0;
    --pos: static;
    --r: initial;
    --t: initial;
    --tt: uppercase;
    --w: initial;

    position: relative;
}

[data-after-text]:not([data-after-text=""])::after {
    content: attr(data-after-text);
}

[data-before-text]:not([data-before-text=""])::before {
    content: attr(data-before-text);
}

[data-after-text]:not([data-after-text=""])::after,
[data-before-text]:not([data-before-text=""])::before {
    align-items: center;
    background: var(--bgc);
    border-radius: var(--bdrs);
    bottom: var(--b);
    box-shadow: var(--bxsh);
    box-sizing: border-box;
    color: var(--c);
    display: var(--d);
    font-size: var(--fz);
    font-weight: var(--fw);
    height: var(--h);
    justify-content: center;
    left: var(--l);
    padding: var(--p);
    position: var(--pos);
    right: var(--r);
    text-decoration: none;
    text-transform: var(--tt);
    top: var(--t);
    width: var(--w);
}

/* BADGES MODIFIERS */
[data-after-type*="badge"]::after,
[data-before-type*="badge"]::before {
    --bdrs: var(--badge-size);
    --bxsh: 0 0 0 2px rgba(255, 255, 255, 0.5);
    --h: var(--badge-size);
    --p: 0;
    --pos: absolute;
    --w: var(--badge-size);
}

[data-after-type*="circle"],
[data-before-type*="circle"] {
    align-items: center;
    display: flex;
}

[data-after-type*="circle"]::after,
[data-before-type*="circle"]::before {
    --bdrs: 50%;
    --fw: 400;
    --h: var(--circle-size);
    /*--pos: relative;
	--t: -0.75em;*/
    --tt: initial;
    --w: var(--circle-size);
}

[data-after-type*="circle"]::after,
[data-after-type*="pill"]::after {
    margin-inline-start: 1ch;
}

[data-before-type*="circle"]::before,
[data-before-type*="dot"]::before,
[data-before-type*="pill"]::before {
    margin-inline-end: 1ch;
}

[data-after-type*="dot"]::after,
[data-before-type*="dot"]::before {
    --bdrs: 50%;
    --d: inline-block;
    --fz: 50%;
    --h: var(--dot-size);
    --p: 0;
    --pos: relative;
    --t: -1px;
    --w: var(--dot-size);
}

[data-after-type*="dot"]::after,
[data-before-type*="dot"]::before {
    content: "" !important;
}

[data-after-type*="pill"]::after,
[data-before-type*="pil"]::before {
    --bdrs: 1rem;
    --p: 0.25rem 0.75rem;
    --pos: relative;
    --t: -1px;
}

/* BADGES COLORS */
[data-after-type*="blue"]::after,
[data-before-type*="blue"]::before {
    --bgc: #007acc;
}

[data-after-type*="darkgray"]::after,
[data-before-type*="darkgray"]::before {
    --bgc: #706e6b;
    --c: #0d6efd;
}

[data-after-type*="green"]::after,
[data-before-type*="green"]::before {
    --bgc: #04844b;
}

[data-after-type*="lightgray"]::after,
[data-before-type*="lightgray"]::before {
    --bgc: #ecebea;
    --c: #080707;
}

[data-after-type*="orange"]::after,
[data-before-type*="orange"]::before {
    --bgc: #ffb75d;
    --c: #080707;
}

[data-after-type*="red"]::after,
[data-before-type*="red"]::before {
    --bgc: #c23934;
}

/* BADGES POSITION */
[data-after-type*="top"]::after,
[data-before-type*="top"]::before {
    --b: auto;
    --pos: absolute;
    --t: var(--dot-offset);
}

[data-after-type*="right"]::after,
[data-before-type*="right"]::before {
    --l: auto;
    --pos: absolute;
    --r: var(--dot-offset);
}

[data-after-type*="bottom"]::after,
[data-before-type*="bottom"]::before {
    --b: var(--dot-offset);
    --pos: absolute;
    --t: auto;
}

[data-after-type*="left"]::after,
[data-before-type*="left"]::before {
    --pos: absolute;
    --r: auto;
    --l: var(--dot-offset);
}

[data-after-type*="badge"][data-after-type*="top"]::after,
[data-before-type*="badge"][data-before-type*="top"]::before {
    --m: 0;
    --t: var(--badge-offset-y);
}

[data-after-type*="badge"][data-after-type*="right"]::after,
[data-before-type*="badge"][data-before-type*="right"]::before {
    --m: 0;
    --r: var(--badge-offset-x);
}

[data-after-type*="badge"][data-after-type*="bottom"]::after,
[data-before-type*="badge"][data-before-type*="bottom"]::before {
    --b: var(--badge-offset-y);
    --m: 0;
}

[data-after-type*="badge"][data-after-type*="left"]::after,
[data-before-type*="badge"][data-before-type*="left"]::before {
    --l: var(--badge-offset-x);
    --m: 0;
}

/* TABLEAU & BUTTON*/
button {
    border: 1px solid #3A8417;
    padding: 10px;
    min-width: 100px;
    color: #3A8417;
    background: none;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    border: 1px solid #51B921;
    color: white;
    background: #3A8417;
}

table {
    width: 100%;
}

table th {
    text-align: start;
    padding: 10px;
    background: #746d74bf;
}

table th.first {
    border-radius: 10px 0 0 0;
}

table th.end {
    border-radius: 0 10px 0 0;
}

table td {
    text-align: start;
    padding: 10px;
    background: #AFA9AFBF;
}

/* LOADING */
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
}

#loadingDiv {
    position: absolute;
    ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url(https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100px;
}

/* MODAL */
.modal_popup,
.modal_popup_quest {
    display: none;
}

.modal_popup.active,
.modal_popup_quest.active {
    display: block;
}

.bg_shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.popup {
    border-radius: 5px;
    background: #393939;
    z-index: 1;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup .popup_head {
    padding: 10px 20px 0 20px;
    padding-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
}

.popup .popup_head button.close_btn {
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    min-width: 0;
}

.popup .popup_head .close_btn:hover {
    opacity: 0.5;
    border: 0;
    background: transparent;
}

.popup .popup_body {
    padding: 20px;
    font-size: 14px;
    line-height: 22px;
}

.popup .popup_foot {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.popup .popup_foot .popup_btn {
    width: 50%;
    border: 0;
    padding: 20px;
    cursor: pointer;
}

.popup .popup_foot .popup_cancel_btn {
    background: #eeeeee;
}

.popup .popup_foot .popup_cancel_btn:hover {
    background: #d8d8d8;
}

.popup .popup_foot .popup_confirm_btn {
    background: #00c06d;
    color: #fff;
}

.popup .popup_foot .popup_confirm_btn:hover {
    background: #008e4e;
}

.popup .popup_form {
    margin: 0;
    width: auto;
    padding: 0;
    border: 0;
    border-radius: 0;
}